In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt
from sklearn import metrics
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix
import seaborn as sb

In [2]:
df=pd.read_csv('TFG_OFICIAL-Copy1.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17919 entries, 0 to 17918
Data columns (total 45 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Case_number                     17919 non-null  object
 1   District_code                   17919 non-null  int64
 2   District_name                   17919 non-null  object
 3   Neighborhood_code               17919 non-null  int64
 4   Neighborhood_name               17919 non-null  object
 5   Street_code                     17919 non-null  int64
 6   Street_name                     17919 non-null  object
 7   Postal_number                   17919 non-null  object
 8   Week_day                        17919 non-null  object
 9   Year                            17919 non-null  int64
 10  Month                           17919 non-null  int64
 11  Month_name                      17919 non-null  object
 12  Day_month                       17919 non-null  int64
 13  Shift                           17919 non-null  object
 14  Time                            17919 non-null  int64
 15  Pedestrian_cause                17919 non-null  object
 16  Type_of_vehicle                 17919 non-null  object
 17  Sex                             17919 non-null  object
 18  Age                             17919 non-null  object
 19  Person_type                     17919 non-null  object
 20  Pedestrian_collision_place      17919 non-null  object
 21  Pedestrian_displacement_motive  17919 non-null  object
 22  Driver_displacement_motive      17919 non-null  object
 23  Injury_severity                 17919 non-null  object
 24  Coordinate_UTM_X_ED50           17919 non-null  float64
 25  Coordinate_UTM_Y_ED50           17919 non-null  float64
 26  Longitude                       17797 non-null  object
 27  Latitude                        17797 non-null  object
 28  Day                             17919 non-null  object
 29  Holiday                         17919 non-null  object
 30  Time_segment                    17919 non-null  object
 31  Vacation_day                    17919 non-null  bool
 32  Numero_expedient_count          17919 non-null  int64
 33  Number of victims               17919 non-null  int64
 34  Slightly injured                17919 non-null  int64
 35  Severely injured                17919 non-null  int64
 36  Weekend Exists                  17919 non-null  bool
 37  Season                          17919 non-null  object
 38  Density                         17919 non-null  int64
 39  TM                              17919 non-null  float64
 40  HRM                             17919 non-null  int64
 41  PM                              17919 non-null  float64
 42  PPT                             17919 non-null  float64
 43  RS24h                           17919 non-null  float64
 44  VVM10                           17919 non-null  float64
dtypes: bool(2), float64(7), int64(13), object(23)
memory usage: 5.9+ MB

In [4]:
df['Pedestrian_collision_place'].value_counts()

Desconegut                                                                                                                                                15653
En pas regulat per sem√†for                                                                                                                                  916
Fora del pas                                                                                                                                                550
A la vorera / Andana                                                                                                                                        270
En pas sense regular                                                                                                                                        227
Altres                                                                                                                                                      149
En zona peatonal                                                                                                                                            135
En pas sense senyalitzar                                                                                                                                     19
Name: Pedestrian_collision_place, dtype: int64

In [5]:
df.drop('District_code', axis=1, inplace=True)
df.drop('Neighborhood_code', axis=1, inplace=True)
df.drop('Street_code', axis=1, inplace=True)
df.drop('Neighborhood_name', axis=1, inplace=True)
df.drop('Street_name', axis=1, inplace=True)
df.drop('Postal_number', axis=1, inplace=True)
df.drop('Month', axis=1, inplace=True)
df.drop('Shift', axis=1, inplace=True)
df.drop('Pedestrian_cause', axis=1, inplace=True)
df.drop('Pedestrian_collision_place', axis=1, inplace=True)
df.drop('Pedestrian_displacement_motive', axis=1, inplace=True)
df.drop('Driver_displacement_motive', axis=1, inplace=True)
df.drop('Latitude', axis=1, inplace=True)
df.drop('Longitude', axis=1, inplace=True)
df.drop('Holiday', axis=1, inplace=True)

In [6]:
df.drop('Coordinate_UTM_X_ED50 ', axis=1, inplace=True)
df.drop('Coordinate_UTM_Y_ED50', axis=1, inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17919 entries, 0 to 17918
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_number             17919 non-null  object
 1   District_name           17919 non-null  object
 2   Week_day                17919 non-null  object
 3   Year                    17919 non-null  int64
 4   Month_name              17919 non-null  object
 5   Day_month               17919 non-null  int64
 6   Time                    17919 non-null  int64
 7   Type_of_vehicle         17919 non-null  object
 8   Sex                     17919 non-null  object
 9   Age                     17919 non-null  object
 10  Person_type             17919 non-null  object
 11  Injury_severity         17919 non-null  object
 12  Day                     17919 non-null  object
 13  Time_segment            17919 non-null  object
 14  Vacation_day            17919 non-null  bool
 15  Numero_expedient_count  17919 non-null  int64
 16  Number of victims       17919 non-null  int64
 17  Slightly injured        17919 non-null  int64
 18  Severely injured        17919 non-null  int64
 19  Weekend Exists          17919 non-null  bool
 20  Season                  17919 non-null  object
 21  Density                 17919 non-null  int64
 22  TM                      17919 non-null  float64
 23  HRM                     17919 non-null  int64
 24  PM                      17919 non-null  float64
 25  PPT                     17919 non-null  float64
 26  RS24h                   17919 non-null  float64
 27  VVM10                   17919 non-null  float64
dtypes: bool(2), float64(5), int64(9), object(12)
memory usage: 3.6+ MB

In [10]:
# Supongamos que tu DataFrame se llama 'df'
# Reorganizar las columnas para mover 'Day' a la posici√≥n 2
new_order = ['Case_number', 'Day', 'Year', 'Month_name', 'Day_month', 'Week_day', 'Time', 'District_name', 'Type_of_vehicle',
             'Sex', 'Age', 'Person_type', 'Injury_severity', 'Time_segment', 'Vacation_day', 'Numero_expedient_count',
             'Number of victims', 'Slightly injured', 'Severely injured', 'Weekend Exists', 'Season', 'Density', 'TM',
             'HRM', 'PM', 'PPT', 'RS24h', 'VVM10']

df = df[new_order]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17919 entries, 0 to 17918
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_number             17919 non-null  object
 1   Day                     17919 non-null  object
 2   Year                    17919 non-null  int64
 3   Month_name              17919 non-null  object
 4   Day_month               17919 non-null  int64
 5   Week_day                17919 non-null  object
 6   Time                    17919 non-null  int64
 7   District_name           17919 non-null  object
 8   Type_of_vehicle         17919 non-null  object
 9   Sex                     17919 non-null  object
 10  Age                     17919 non-null  object
 11  Person_type             17919 non-null  object
 12  Injury_severity         17919 non-null  object
 13  Time_segment            17919 non-null  object
 14  Vacation_day            17919 non-null  bool
 15  Numero_expedient_count  17919 non-null  int64
 16  Number of victims       17919 non-null  int64
 17  Slightly injured        17919 non-null  int64
 18  Severely injured        17919 non-null  int64
 19  Weekend Exists          17919 non-null  bool
 20  Season                  17919 non-null  object
 21  Density                 17919 non-null  int64
 22  TM                      17919 non-null  float64
 23  HRM                     17919 non-null  int64
 24  PM                      17919 non-null  float64
 25  PPT                     17919 non-null  float64
 26  RS24h                   17919 non-null  float64
 27  VVM10                   17919 non-null  float64
dtypes: bool(2), float64(5), int64(9), object(12)
memory usage: 3.6+ MB

In [31]:
df.to_csv('TFG_para_hacer:graficos.csv',index=False)

In [32]:
df.drop('Year', axis=1, inplace=True)
df.drop('Month_name', axis=1, inplace=True)
df.drop('Time', axis=1, inplace=True)

C:\Users\julsd\anaconda3\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17919 entries, 0 to 17918
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_number             17919 non-null  object
 1   Day                     17919 non-null  object
 2   Week_day                17919 non-null  object
 3   District_name           17919 non-null  object
 4   Sex                     17919 non-null  object
 5   Age                     17919 non-null  object
 6   Person_type             17919 non-null  object
 7   Injury_severity         17919 non-null  object
 8   Time_segment            17919 non-null  object
 9   Vacation_day            17919 non-null  bool
 10  Numero_expedient_count  17919 non-null  int64
 11  Number of victims       17919 non-null  int64
 12  Slightly injured        17919 non-null  int64
 13  Severely injured        17919 non-null  int64
 14  Weekend Exists          17919 non-null  bool
 15  Season                  17919 non-null  object
 16  Density                 17919 non-null  int64
 17  TM                      17919 non-null  float64
 18  HRM                     17919 non-null  int64
 19  PM                      17919 non-null  float64
 20  PPT                     17919 non-null  float64
 21  RS24h                   17919 non-null  float64
 22  VVM10                   17919 non-null  float64
dtypes: bool(2), float64(5), int64(6), object(10)
memory usage: 2.9+ MB

In [34]:
df.to_csv('TFG_OFICIAL.csv',index=False)